<!doctype html>
<html>
<head>

   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <title>CHATSNAP</title>


   <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

   <link rel="stylesheet" href="/assets/css/base-style.css">

   <link rel="stylesheet" href="/assets/css/mi-estilo.css">

</head>


<body class="">

   <!--
   <ul id="messages"></ul>

   <form id="formulario-nombre" action="">
      <input id="n" autocomplete="off"/><button>Send</button>
   </form>

   <form id="formulario-mensaje" action="">
      <input id="m" autocomplete="off"/><button>Send</button>
   </form>
   -->

      <form
      id="login-window"
      class="col-xs-10 col-md-6 col-lg-4
      col-xs-offset-1 col-md-offset-3 col-lg-offset-4">

         <h1>Bienvenid@</h1>

         <p>Ingresa tu nombre de usuario</p>

         <p id="login-warning-empty" class="warning hidden">
            Por favor introduce un nombre de usuario
         </p>

         <p id="login-warning-duplicated" class="warning hidden">
            Por favor elije un nombre de usuario distinto
         </p>

         <input type="text" placeholder="nombredeusuario">

         <button type="submit" class="btn">
            Entrar
         </button>

      </form>


      <div id="chat-window" class="container-fluid">
         <!-- header+sidebar+main+footer -->
         <header class="row">

            <div class="col-xs-6 col-md-4 col-lg-3">
               <h6>
               </h6>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 col-md-offset-4 col-lg-offset-6 text-right">
               <button id="button-group-chat" class="btn">
                  Chat Grupal
               </button>
            </div>
         </header>

         <div id="users-messages-container">

            <nav id="users-conversations-selector" class="visible-xs">
               <button class="btn" data-target="users">
                  Users
               </button>
               <button class="btn" data-target="conversations">
                  Conversations
               </button>
            </nav>

            <div id="users-conversations-panel" class="col-md-3 h-md-100">
               <aside id="users" class="h-xs-100 h-md-50 hidden-xs scroll-y">

                  <ul>

                     <li class="user model hidden">
                        <span class="username">
                           username
                        </span>
                        <span class="number-messages">
                           0
                        </span>
                     </li>


                  </ul>

               </aside>
               <aside id="conversations" class="h-xs-100 h-md-50 scroll-y">

                  <ul>

                     <li class="conversation model">
                        <span class="username">
                           conversation
                        </span>
                        <span class="number-users">
                           0
                        </span>
                     </li>


                  </ul>

               </aside>
            </div>

            <main id="messages" class="col-md-9 h-xs-70 h-md-100 scroll-y">
               <ul>
                  <li class="message model hidden">
                     <span class="username">
                        username
                     </span>
                     <!-- span.message>lorem16 -->
                     <span class="message-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima similique, provident atque voluptatem accusantium soluta enim.
                     </span>
                  </li>

               </ul>
            </main>
         </div>

         <footer class="row">
            <form id="message-form" action="">

               <!-- input#message.col-xs-9.col-md-10.col-lg-11 -->
               <input type="text" id="message" class="col-xs-9 col-md-10 col-lg-11">

               <!-- button.col-xs-3.col-md-2.col-lg-1[type=submit]{Enviar} -->
               <button class="btn col-xs-3 col-md-2 col-lg-1" type="submit">
                  Enviar
               </button>

            </form>


         </footer>

      </div>

   <script src="/socket.io/socket.io.js"></script>

   <script src="/bower_components/jquery/dist/jquery.min.js"></script>
   <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

   <script>

   var socket = io()

   var currentActiveUsers

   var targetUserId


   var conversations = []

   var currentConversation



   // Interacciones de usuario

   $('#login-window').submit(function(){

      username = $('#login-window input[type="text"]').val()

      var shouldDoLogin = true

      if( username === "" ) {
         // avisar al usuario que debe corregir nombre vacio
         $('#login-warning-empty').removeClass('hidden')
         shouldDoLogin = false
      }

      if( ! isNameAvailable(username) ) {
         // avisar al usuario que debe corregir nombre duplicado
         $('#login-warning-duplicated').removeClass('hidden')
         shouldDoLogin = false
      }


      if(shouldDoLogin) {

         var payload = {
            id: socket.id,
            message: username
         }

         socket.emit('set username', payload )


         $('#chat-window header h6').html( username )

         $('#login-window').fadeOut(300, function(){

            $('#chat-window').fadeIn(300)

         })

      }

      return false;

   });

   $('#message-form').submit(function(){

      message = $('#message').val()


      var payload = {
         id: socket.id,
         message: message
      }

      // si hay un usuario seleccionado, acompañar mensaje con ID de usuario destino

      if( typeof(targetUserId) != "undefined" ) {
         payload.targetId = targetUserId
      }

      socket.emit('chat message', payload )

      $('#message').val('')

      return false

   });



   // selector entre paneles users y conversations en movil

   $('#users-conversations-selector button').click(function(){
      var target = $(this).data('target')
      selector = '#'+target
console.log( selector )
      if( $(selector).length > 0 ) {
         $(selector).removeClass('hidden-xs').siblings().addClass('hidden-xs')
      }
   })





   // Funciones que responderán a socket.io

   socket.on('chat message', function(payload){

      printMessage({
         username: currentActiveUsers[ payload.sourceId ].username,
         text: payload.message
      }, 'chat-message' )

   });




   socket.on('user list changed', function(payload) {

      currentActiveUsers = payload.activeUsers

      $('#users ul .user:not(.model)').remove()

      for(i in currentActiveUsers) {
         var userHtml = $('.user.model').clone().detach()

         userHtml.find('.username').html( currentActiveUsers[i].username )

         userHtml.attr( 'data-id', currentActiveUsers[i].id )

         userHtml.removeClass('hidden model')

         userHtml.appendTo('#users ul')

      }

      setupUserClick()

   })

   socket.on('user login', function(payload) {

      printMessage({
         username: payload.username,
         text: 'Entró al chat.'
      }, 'notification' )

   })

   socket.on('user logout', function(payload) {

      printMessage({
         username: payload.username,
         text: 'Salió del chat.'
      }, 'notification' )

   })



   function printMessage( message, cssClasses ) {

      newMessage = $('#messages .message.model').clone().detach()

      newMessage.find('.username').html( message.username )
      newMessage.find('.message-text').html( message.text )

      newMessage.addClass( cssClasses )

      newMessage.removeClass('model hidden')

      newMessage.appendTo('#messages ul')

   }



   function setupUserClick() {
      // clicar un usuario para abrir conversación con él
      $('#users .user').click(function(){
         // obtener su ID a partir de atributo 'data-id' del 'li' clicado

         targetUserId = $(this).data('id')

         console.log( "selected:", targetUserId )

         // al abrir conversación con usuario
         // marcar mensajes como Leidos
         // mostrar los mensajes previos con ese usuario
      })

   }

   $('#button-group-chat').click(function(){
      targetUserId = undefined;
   })

   // si recibimos mensaje de un usuario
      // si tenemos la ventana de ese usuario abierta
         // mostrar mensaje en ventana
      // de otro modo,
         // aumentar numero de mensajes no leidos de ese usuario en la lista de usuarios



   function isNameAvailable(username) {

      var available = true

      for( i in currentActiveUsers ) {
         if( username === currentActiveUsers[i].username ) {

            available = false

            // si ya encontramos uno, interrumpir la iteracion

            break

         }
      }

      return available

   }

   </script>

</body>
</html>
