<!doctype html>
<html>
<head>

   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <title>CHATSNAP</title>


   <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

   <link rel="stylesheet" href="/assets/css/base-style.css">

   <link rel="stylesheet" href="/assets/css/mi-estilo.css">

</head>


<body class="">

   <!--
   <ul id="messages"></ul>

   <form id="formulario-nombre" action="">
      <input id="n" autocomplete="off"/><button>Send</button>
   </form>

   <form id="formulario-mensaje" action="">
      <input id="m" autocomplete="off"/><button>Send</button>
   </form>
   -->

      <form
      id="login-window"
      class="col-xs-10 col-md-6 col-lg-4
      col-xs-offset-1 col-md-offset-3 col-lg-offset-4">

         <h1>Bienvenid@</h1>

         <p>Ingresa tu nombre de usuario</p>

         <p id="login-warning-empty" class="warning hidden">
            Por favor introduce un nombre de usuario
         </p>

         <p id="login-warning-duplicated" class="warning hidden">
            Por favor elije un nombre de usuario distinto
         </p>

         <input type="text" placeholder="nombredeusuario">

         <button type="submit" class="btn">
            Entrar
         </button>

      </form>


      <div id="chat-window" class="container-fluid">
         <!-- header+sidebar+main+footer -->
         <header class="row">

            <div class="col-xs-6 col-md-4 col-lg-3">
               <h6>
               </h6>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 col-md-offset-4 col-lg-offset-6 text-right">
               <button id="button-group-chat" class="btn">
                  Chat Grupal
               </button>
            </div>
         </header>

         <div id="users-messages-container">

            <nav id="users-conversations-selector" class="visible-xs">
               <button class="btn" data-target="users">
                  Users
               </button>
               <button class="btn" data-target="conversations">
                  Conversations
               </button>
            </nav>

            <div id="users-conversations-panel" class="col-md-3 h-md-100">
               <aside id="users" class="h-xs-100 h-md-50 hidden-xs scroll-y">

                  <ul>

                     <li class="user model hidden">
                        <span class="username">
                           username
                        </span>
                        <span class="number-messages">
                           0
                        </span>
                     </li>


                  </ul>

                  <div id="add-users">
                     <button class="btn col-xs-6" id="add-users-button">
                        Añadir Usuarios
                     </button>
                  </div>

               </aside>
               <aside id="conversations" class="h-xs-100 h-md-50 scroll-y">

                  <ul>

                     <li class="conversation hidden model">
                        <span class="name">
                           conversation
                        </span>
                        <span class="number-users">
                           0
                        </span>
                        <span class="number-users-icon">
                           u
                        </span>
                        <span class="number-new-messages">
                           0
                        </span>
                        <span class="number-new-messages-icon">
                           m
                        </span>
                     </li>


                  </ul>


                  <form id="new-conversation">
                     <input class="col-xs-9" type="text" name="conversation-name">
                     <button class="btn col-xs-3" type="submit">
                        Nueva Conversación
                     </button>
                  </form>

               </aside>
            </div>

            <main id="messages" class="col-md-9 h-xs-70 h-md-100 scroll-y">
               <ul>
                  <li class="message model hidden">
                     <span class="datetime">
                        1/1/2017 - 16:20
                     </span>
                     <span class="username">
                        username
                     </span>
                     <!-- span.message>lorem16 -->
                     <span class="message-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima similique, provident atque voluptatem accusantium soluta enim.
                     </span>
                  </li>

               </ul>
            </main>
         </div>

         <footer class="row">
            <form id="message-form" action="">

               <!-- input#message.col-xs-9.col-md-10.col-lg-11 -->
               <input type="text" id="message" class="col-xs-9 col-md-10 col-lg-11">

               <!-- button.col-xs-3.col-md-2.col-lg-1[type=submit]{Enviar} -->
               <button class="btn col-xs-3 col-md-2 col-lg-1" type="submit">
                  Enviar
               </button>

            </form>


         </footer>

      </div>

   <script src="/socket.io/socket.io.js"></script>

   <script src="/bower_components/jquery/dist/jquery.min.js"></script>
   <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

   <script src="/assets/js/chat.js"></script>

</body>
</html>
