
/* dibujar contorno para facilitar maquetado */
* {
   outline: 1px solid #def;
}



.h-1x {
   height: 75px;
}

.h-2x {
   height: 150px;
}

.h-3x {
   height: 225px;
}



body,html {
   height: 100%;
}

.h-100 {
   height: 100%;
}


.square-h {
   background-color: red;
   width: 40%;
}
