
/* dibujar contorno para facilitar maquetado */
* {
   outline: 1px solid #def;
}





body,html {
   height: 100%;
}


.h-33 {
   height: 33.33%;
}

.h-45 {
   height: 45%;
}

.h-55 {
   height: 55%;
}

.h-100 {
   height: 100%;
}



.square-h {
   background-color: red;
   width: 40%;
}


.h-1x {
   height: 75px;
}

.h-2x {
   height: 150px;
}

.h-3x {
   height: 225px;
}

.h-4x {
   height: 300px;
}

.h-5x {
   height: 375px;
}


/****** LAYOUT ******/

header#cabecera-principal,
footer#pie-pagina {
   position: fixed;
   left: 0;
   width: 100%;
}

header#cabecera-principal {
   top: 0;
}


header #icono-menu .btn {
   padding: 0;
}



footer#pie-pagina {
   bottom: 0;
}


main#area-principal {
   padding-top: 75px;
}




/****** COLORES ******/

header#cabecera-principal,
footer#pie-pagina {
   background-color: #eee;
}



/****** TIPOGRAFÍAS ******/


.font-s {
   /*fz12*/
   font-size: 12px;
}
.font-m {
   font-size: 16px;
}
.font-l {
   font-size: 20px;
}
.font-xl {
   font-size: 32px;
}
.font-xxl {
   font-size: 48px;
}
