/****** COLORES ******/

header#cabecera-principal,
footer#pie-pagina {
   background-color: #eee;
}



$white: #fff;
$black: #000;

$color-primary-0: #FF7A00;
$color-primary-1: #FFAC5F;
$color-primary-2: #FF9532;
$color-primary-3: #D26500;
$color-primary-4: #A54F00;

$color-secondary-1-0: #FFAE00;
$color-secondary-1-1: #FFCC5F;
$color-secondary-1-2: #FFBE32;
$color-secondary-1-3: #D29000;
$color-secondary-1-4: #A57100;

$color-secondary-2-0: #FF1300;
$color-secondary-2-1: #FF6A5F;
$color-secondary-2-2: #FF4132;
$color-secondary-2-3: #D20F00;
$color-secondary-2-4: #A50C00;

$color-complement-0: #0397AB;
$color-complement-1: #49B0BF;
$color-complement-2: #259FB0;
$color-complement-3: #027181;
$color-complement-4: #015965;


$lista-colores: (

  "white"   $white,
  "black"   $black,
  primary-0 $color-primary-0,
  primary-1 $color-primary-1,
  primary-2 $color-primary-2,
  primary-3 $color-primary-3,
  primary-4 $color-primary-4,
  secondary-1-0 $color-secondary-1-0,
  secondary-1-1 $color-secondary-1-1,
  secondary-1-2 $color-secondary-1-2,
  secondary-1-3 $color-secondary-1-3,
  secondary-1-4 $color-secondary-1-4,
  secondary-2-0 $color-secondary-2-0,
  secondary-2-1 $color-secondary-2-1,
  secondary-2-2 $color-secondary-2-2,
  secondary-2-3 $color-secondary-2-3,
  secondary-2-4 $color-secondary-2-4,
  complement-0 $color-complement-0,
  complement-1 $color-complement-1,
  complement-2 $color-complement-2,
  complement-3 $color-complement-3,
  complement-4 $color-complement-4,

);


@each $value in $lista-colores {

	   .color-#{nth($value, 1)} {
			& {
				color: nth($value, 2) !important;
			}
	   }
	   .color-#{nth($value, 1)}-bg {
			& {
				background-color: nth($value, 2) !important;
			}
	   }
	   .color-#{nth($value, 1)}-bd {
			& {
				border: 1px solid white;
				border-color: nth($value, 2) !important;
			}
	   }

	   .color-#{nth($value, 1)}-hover:hover {
			& {
				color: nth($value, 2) !important;
			}
	   }
	   .color-#{nth($value, 1)}-hover-bg:hover {
			& {
				background-color: nth($value, 2) !important;
			}
	   }
	   .color-#{nth($value, 1)}-hover-bd:hover {
			& {
				border: 1px solid white;
				border-color: nth($value, 2) !important;
			}
	   }


}
